<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<link rel="shortcut icon" href="__APP__/Public/images/file_station_ico.png">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>文件中转站</title>
</head>
<frameset rows="100,*">
	<frame src="__URL__/top" noresize="noresize" scrolling="no" />
	<frameset cols="200,*">
		<frame src="__URL__/menu" noresize="noresize" name="menu" />
		<frame src="__URL__/main" noresize="noresize" name="main"/>
	</frameset>
</frameset>
</html>